* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clear{
    clear: both;
}
 
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    text-align: center;
    color:blue
}

 
header{
    padding: 8px 0;
}
 
.logo{
    float: left;
}
 
.logo h1{
    font-size: 50px;
    color: royalblue;
    font-weight: normal;
    font-style: italic;
    font-family: Georgia;
}
 
nav.menu{
    float: right;
}
 
nav.menu ul{
    position: relative;
    top: 8px;
}
 
nav.menu li{
    display: inline-block;
    font-weight: lighter;
    padding: 0 10px;
   
}
 
nav.menu a{
    color: black;
    text-decoration: none;
}
 
nav.menu a:hover{
    text-decoration: underline;
}

section.main-bg{
    position: relative;
    width: 100%;
    padding: 140px 0 200px;
    background-image: url(../img/Desenvolvedores\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
} 

section.main-bg > .container{
    position: relative;
    z-index: 2;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}


section.main-bg h2{
    color: seashell;
    font-size: 40px;
    font-weight: normal;

}

section.main-bg p{
    color: white;
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
}

footer{
    text-align: center;
    color: black;
    margin-top: 10px;
}

.colunas{
    float: left;
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 30px;
}

.colunas h2{
    color:black;
    text-align: center;
}

.colunas p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.separa{
    background-color: chartreuse;
    width: 100%;
    border: 10px;
}
    

