*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    }
    .clear{
    clear: both;
    }
    .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    }
    header{
    padding: 8px 0;
    }
    .logo{
    padding: 1px;
    float: left;
    }
    .logo h2{
    font-size: 50px;
    color: black;
    font-weight: normal;
    font-style: italic;
    font-family: 'Times New Roman';
    }
    nav.menu{
    float: right;
    }
    nav.menu ul{
    position: relative;
    top: 8px;
    }
    nav.menu li{
    display: inline;
    font-weight: lighter;
    padding: 0 10px;
    }
    nav.menu a{
    color: black;
    text-decoration: none;
    }
    nav.menu a:hover{
    text-decoration: underline;
    }
    section.main-bg{
    position: relative;
    width: 100%;
    padding: 300px 0 200px 0;
    text-align: center;
    background-image: url(../images/armas.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    section.main-bg > .container{
    position: relative;
    z-index: 2;
    }
    .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.10);
    }
    section.main-bg h2{
    color: black;
    font-size: 40px;
    font-weight: normal;
    }
    section.main-bg p{
    color: seashell;
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
    }
    footer h6{
    text-align: center;
    color: red;
    margin-top: 500px;

    }
    footer h6{
    float: left;
    color: red;
    margin-top: 500px;

    }
    .colunas{
    float: right;
    width: 33.3%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-family: 'STIX Two Text', serif;
    }

    .colunas h2{
    color: black;
    text-align: center;
    }
    .colunas p{
    color: grey;
    text-align: left;
    }
    .separa{
    background-color: chartreuse;
    width: 100%;
    border: 1px;
    }

    .invocacao{
        width: 400px;
    }

    .grande{
        width: 200px;
    }

    .Velozes{
        width: 200px;
    }